/* Styling for the .gym container */
.gym {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Set a minimum height for the container */
  margin-bottom: 100px; /* Add more space between the gym container and footer */
}

/* Styling for the product grid */
.item-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  cursor: pointer;
  gap: 30px;
  margin-bottom: 50px; /* Add some space below the product grid */
}
/* Style for the header */
.gym-header {
    font-size: 28px; /* Adjust font size as desired */
    font-weight: bold; /* Adjust font weight as desired */
    color: #db9090; /* Adjust text color as desired */
    margin-bottom: 10px; /* Add space below the header */
    text-align: center; /* Center the header */
}

/* Style for the horizontal line */
.gym-divider {
    width: 100%; /* Set the line width to full container width */
    height: 2px; /* Adjust the thickness of the line */
    background-color: #db9090; /* Adjust line color as desired */
    margin-bottom: 20px; /* Add space below the line */
}
